body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#upper-div {
  margin-top: 5px;
  margin-left: 10px;
}

#monaco {
  height: 450px;
  margin-left: 15px;
  border: 1px solid #EBEEF5;
}

.el-main {
  padding: 0px
}

#down-div {
  margin-left: 25px;
  margin-right: 43px;
}

[v-cloak] {
  display: none;
}

.el-button {
  width: 120px;
  font-size: 16px;
  line-height: 1.2;
}

#button-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

#read-btn {
  margin-left: 25px;
}

#show-btn {
  margin-left: 35px;
}

#empty-btn {
  margin-left: 35px;
}

#run-btn {
  float: right;
  margin-right: 15px;
}

.el-table__header tr,
  .el-table__header th {
    padding: 0;
    height: 40px;
}
.el-table__body tr,
  .el-table__body td {
    padding: 0;
    height: 40px;
}